.carouselCell {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
}

/* @media only screen and (min-width: 768px) {
  .carouselCell {
    width: 200px;
  }
} */

.numberSlide0 {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.numberSlide1 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.numberSlide2 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(167, 226, 72) 0%,
    /* rgba(189, 255, 83, 1) 0%, */ rgba(43, 250, 82, 1) 100%
  );
}

.numberSlide3 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.numberSlide4 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}

.numberSlide5 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(150, 155, 222, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

.numberSlide6 {
  background: rgb(230, 255, 64);
  background: linear-gradient(
    128deg,
    rgb(205, 252, 0) 0%,
    rgb(191, 190, 13) 100%
  );
}

.numberSlide7 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}
