.navigation-wrapper {
  position: relative;
  text-align: center;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: -50px;
}

.arrow--right {
  left: auto;
  right: -50px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 487px) {
  .arrow {
    top: 45%;
  }
}

@media screen and (min-width: 1440px) {
  .arrow {
    top: 45%;
  }
}
