@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

* {
  font-family: "Montserrat";
  box-sizing: border-box;
}

:root {
  --background: #f0ecdb;
  --foreground: #363537;
}

[data-theme="dark"] {
  --background: #2c302c;
  --foreground: #fffffb;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* transition: all 0.2s linear; */
}
a {
  color: var(--foreground);
  transition: color 0.5s linear;
}
button {
  transition: background 0.5s linear;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
